In [7]:
import pandas as pd
import numpy as np
import zipfile

In [8]:
with zipfile.ZipFile('playground-series-s5e6.zip','r') as data:
    data.extractall('dataset')

In [28]:
train_df = pd.read_csv('dataset/train.csv')
train_df.head()
#train_df.shape 750,000 rows

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP

In [ ]:
soil_labels = train_df['Soil Type'].unique()
fertiliser_labels = train_df['Fertilizer Name'].unique()
croptype_labels = train_df['Crop Type'].unique()
pottasium_labels = train_df['Potassium'].unique()
humidity_labels = train_df['Humidity'].unique()
moisture_labels = train_df['Moisture'].unique()
phosphrous_labels = train_df['Phosphorous'].unique()
nitrogen_labels = train_df['Nitrogen'].unique()

print(f"Unique Soil Types: {soil_labels}") #5 types of soil
print(f"Fertiliser Labels: {fertiliser_labels}") #7 labels to classify
print(f"Crop Type Labels: {croptype_labels}") #11 Crop Types
print(f"Potassium Levels: {pottasium_labels}") 
print(f"Humidity Levels: {humidity_labels}") 
print(f"Moisture Levels: {moisture_labels}")
print(f"Phosphrous Levels: {phosphrous_labels}")
print(f"Nitrogen Levels: {nitrogen_labels}")

Unique Soil Types: ['Clayey' 'Sandy' 'Red' 'Loamy' 'Black']
Fertiliser Labels: ['28-28' '17-17-17' '10-26-26' 'DAP' '20-20' '14-35-14' 'Urea']
Crop Type Labels: ['Sugarcane' 'Millets' 'Barley' 'Paddy' 'Pulses' 'Tobacco' 'Ground Nuts'
 'Maize' 'Cotton' 'Wheat' 'Oil seeds']
Potassium Levels: [ 4  6 12  2  0 15 17  3 19 16  1 13  7  9 14  8 18 11  5 10]
Humidity Levels: [70 69 63 62 58 59 51 50 61 60 57 72 68 55 52 64 71 56 66 54 65 67 53]
Moisture Levels: [36 65 32 54 43 29 53 44 35 60 27 42 57 47 50 56 33 37 49 39 30 46 61 64
 26 34 51 48 28 38 52 62 55 40 25 59 31 45 58 41 63]
Phosphrous Levels: [ 5 18 16  4  9 22 35 29  2 12 19 39 30 32 34 40 28 33  0  7 13 24 21 27
 17 26  1 36 23 11 10 20 15 41  3 31  6 14 25 42  8 38 37]
Nitrogen Levels: [36 30 24 39 37 10 26 19 25 18 34 42 41 15  4  8  6 31 29 20 28 17 27  7
 12 14 35 33  9 16 40 21 23 32 22 11 38 13  5]